html,
body,
#app {
  height: 100%;
  width: 100%;
}

/*mapbox样式*/

.mapboxgl-ctrl.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important; /*隐藏商标*/
}

:root {
  --primary-color: #fff;
  --primary-text-color: #333;
  
  --primary-svg-color: #262626;
  --primary-svg-hover-color: #f2f2f2;
  --primary-li-bottom-color: #eaeaea;
}